NEXT_PUBLIC_SUPABASE_URL=https://sxkcagxebpecivsjhsbg.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dDznYAWeg2qZtnHqtVwgZg_NnDJpHlh
ANICHIN_BASE=https://anichin.cafe

REQUEST_TIMEOUT=25
MIN_DELAY=2
MAX_DELAY=5